<!-- src/app/recuperar/recuperar.page.html -->

<ion-content class="ion-padding">
  <ion-header>
    <ion-toolbar>
      <ion-title>¿Olvidaste tu contraseña?</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="goBackLogin()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="background"></div>
  <div class="login-container">
    <ng-container *ngIf="!cambioContrasena; else cambioContrasenaTemplate">
      <!-- Mostrar este bloque si no se ha iniciado el proceso de cambio de contraseña -->
      <ion-input [(ngModel)]="usuario" placeholder="Correo Electrónico" clearInput></ion-input>
      <ion-button expand="full" class="login-button" (click)="recuperarDatos()">
        Recuperar
      </ion-button>
    </ng-container>

    <ng-template #cambioContrasenaTemplate>
      <!-- Mostrar este bloque si se ha iniciado el proceso de cambio de contraseña -->
      <ion-input [(ngModel)]="nuevaContrasena" type="password" placeholder="Nueva Contraseña" clearInput></ion-input>
      <ion-input [(ngModel)]="confirmarContrasena" type="password" placeholder="Confirmar Contraseña" clearInput></ion-input>
      <ion-button expand="full" class="login-button" (click)="cambiarContrasena()">
        Cambiar Contraseña
      </ion-button>
    </ng-template>
  </div>
</ion-content>
