


<ion-content class="ion-padding">


  <ion-header>
    <ion-toolbar>
      <ion-title>¿Olvidaste tu contraseña?</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="goBackLogin()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    
  </ion-header>
  <div class="background"></div>
  <div class="login-container"> 
   
      <!-- Círculo con el logo -->
     
    
    <ion-input placeholder="Usuario" clearInput>

    </ion-input>

    <ion-button expand="full" class="login-button" (click)="recuperarDatos()">
      Recuperar
    </ion-button>
  </div>
</ion-content>
