<ion-content class="ion-padding">
  <div class="background"></div>
  <div class="login-container"> 
    <div class="logo-container">
      <!-- Círculo con el logo -->
      <ion-icon name="logo" class="logo-icon"></ion-icon>
    </div>
    <ion-input placeholder="Correo Electronico"  clearInput>
      <ion-icon name="person" class="user-icon" slot="end"></ion-icon>
    </ion-input>

    <ion-input type="password" placeholder="Contraseña" clearInput>
      <ion-icon name="lock-closed" class="password-icon" slot="end"></ion-icon>
    </ion-input>

    <div class="forgot-password">
      <a routerLink="/recuperar">¿Olvidaste la contraseña?</a>
    </div>

    <ion-button expand="full" (click)="agregarDatos()">Iniciar sesión</ion-button>
    
    <div class="register-button">
      <ion-button expand="full" routerLink="/register">Registrarse
        <ion-icon name="person-add" slot="start"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
