

.background-blur {
    background: url('./background1.gif') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(8px); /* Aplica un efecto de desenfoque */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .login-form {
    position: center;
    z-index: 1;
    padding: 20px;
  }
  

/* Añade estilos para centrar verticalmente el logo */
.login-card {
    background-color: rgba(255, 255, 255, 0); /* Fondo semitransparente */
    border-radius: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.5s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente */
    height: 80%;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  .input-field {
    --background: transparent;
    --highlight-color-focused: #b48e6e;
  }
  
  .login-button {
    font-weight: bold;
    --background: #FFA500;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }
  
  .register-link {
    margin-top: 20px;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  