<ion-header>
  <ion-toolbar>
    <ion-title [@slideIn] >
      <ion-img [@slideIn] src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" class="logo"></ion-img>
      Bienvenido : {{ usuario }}!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let clase of clases" (click)="verInfoClase(clase)">
      <ion-thumbnail slot="start">
        <h2>{{ clase.cod }}</h2>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ clase.nombre }}</h2>
        <p>Alumnos registrados: {{ clase.alumnosRegistrados }}</p>
      </ion-label>
      <ion-button slot="end" (click)="iniciarClase(clase)">
        <ion-icon name="qr-code"></ion-icon>
        Iniciar clase
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer >
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>