ion-content {
  background-color: #ffffff;
}

ion-thumbnail {
  --border-radius: 50%;
}

ion-button {
  --background: #140b8a;
  --color: #f7f0f0;
  --ion-color-base: #926d6d;
  --ion-color-contrast: #4b2a10;
}

.logo {
  width: 180px;
  height: 60px;
  margin-right: 10px;
  margin-bottom: auto;
  margin-top: 20px;
  animation: fade-in 1s;
  
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


ion-footer {
  ion-toolbar {
    --background: rgb(72, 101, 245);
  }

  ion-buttons[slot="start"] {
    ion-button {
      --padding-start: 8px;
      --padding-end: 8px;
    }
  }
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

img {
  animation: fade 0.5s ease-in-out;
}