ion-footer {
  ion-toolbar {
    --background: url('./backgroundf.gif') no-repeat center center fixed;
    background-size: cover; // Ajusta según sea necesario
  }

  ion-buttons[slot="start"] {
    ion-button {
      --padding-start: 8px;
      --padding-end: 8px;
      color: #ffffff; // Color del texto del botón
      background-color: #120101;
      
      
      
    }

    ion-icon {
      color: #ffffff; // Color del icono del botón
      background-color: #120101;
      
    }
  }
  
  ion-buttons[slot="end"] {
    ion-button {
      ion-icon {
        color: #ffffff; // Color del icono del botón
        background-color: #120101;
        
      }
    }
  }
}

ion-header {
  ion-toolbar {
    --background: url('./backgroundf.gif') no-repeat center center fixed;
    background-size: cover; // Ajusta según sea necesario
  }

  ion-title {
    color: #ffffff; // Ajusta el color del texto según sea necesario
  }
}


