/* register.page.scss */

ion-content {
  position: relative;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./backgroundf.gif') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
  }
}

.logo-container {
  position: absolute;
  top: 10px; /* Ajusta según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  background-color: #020000;
  width: 80px; /* Ajusta según sea necesario */
  height: 80px; /* Ajusta según sea necesario */
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  border-radius: 50%;
  z-index: 2;
  animation: pulse 2s infinite;

  .logo-icon {
    font-size: 40px;
    color: #3498db;
  }
}

.login-container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 50%; /* Ajusta según sea necesario */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.989);
  background-color: rgb(2, 17, 30);
  background-image: url("./fondoforms.gif");
  animation: fadeInUp 1s ease;

  ion-input {
    margin-bottom: 15px;
    border-radius: 5px;
    color: #040000;

    ion-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 40%;
      color: #3498db;
    }
  }

  .forgot-password {
    margin-top: 10px;
    a {
      color: #fafbfc;
    }
  }

  ion-button {
    margin-top: 20px;
    --background: #3498db;

    &.register-button {
      margin-top: 20px;

      &:hover {
        --background: #218c56;
      }

      ion-icon {
        margin-right: 8px;
        font-size: 18px;
      }
    }
  }
}

/* Agregado estilo para ion-toolbar */
ion-toolbar {
  --background: #020000; /* Color de fondo de la barra de herramientas */
  color: #ffffff; /* Color del texto en la barra de herramientas */

  ion-buttons {
    ion-button {
      --color: #ffffff; /* Color de los botones en la barra de herramientas */
    }
  }
}

/* Animaciones */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
